*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#form-Container{
    background-color: white;
    padding: 50px;
    text-align: center;
}
h2{
    margin: 0px 0px 10px 0px;

}
input{
    width: 200px;
    margin: 10px 0px;
    padding: 10px;
}
#sub{
    width: 222px;
    background-color: aqua;
    border: 0px;
    color: aliceblue;

}
.error{
    color: red;
    margin: 0;
    text-align: left;
}

 
